<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<meta name="keywords" content="student portal, education, learning, courses, notes, school ">
    <meta name="author" content="Sagar Kapoor">
    <meta property="og:title" content="EduCrafter">
    <meta property="og:description" content="Empowering students through an interactive and comprehensive online learning platform - EduCrafter.">
    <meta property="og:image" content="https://th.bing.com/th/id/OIG..dm6pXU7ha9lx3RalVFt?pid=ImgGn">
    <meta name="twitter:title" content="EduCrafter">
    <meta name="twitter:description" content="Empowering students through an interactive and comprehensive online learning platform - EduCrafter.">
    <meta name="twitter:image" content="https://th.bing.com/th/id/OIG..dm6pXU7ha9lx3RalVFt?pid=ImgGng">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.6.0/remixicon.css" integrity="sha512-GL7EM8Lf8kU23I3kTio2kRWt8YRDVIQcSZjRVtVRfk05kB/QvkyafuTC94Ev0X6qk7Z0r5s06c1lsP1p/ezDYw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login</title>
    <link rel="Icon" href="src/Logo1.png" sizes="64x64">
</head>
<body>
    <%- include("../includes/flash.ejs"); %>
    <header>
        <p class="Logo"><img class="Logo_Image" src="src/Logo1.png">EduCrafter</p>
    </header>
    <div class="bookworm">
    <img src="src/Bookworm.jpg" class="Bookworm">
    <div class="eye_corner">
        <div class="eye" id="eye">
            <div class="pupil" id="pupil"></div>
        </div>
        <div class="eye" id="eye_b">
            <div class="pupil" id="pupil_b"></div>
        </div>
    </div>
    
</div>
    <div class="main">
    <div class="main_a">
    <div class="heading"><h2>Login</h2></div>
    <div class="intro"><p><span>Welcome  Back </span> .Please Login into Your Account</p></div>
    <form method="post" action="/login">
        <label for="username">Username</label>
        <i class="ri-user-line icon"></i>
        <input name="username" id="username" placeholder="Username" class="input_field" onblur="Remove(this)" oninput="Border(this)" required>
        <label for="password">Password</label>
        <i class="ri-lock-password-line icon"></i>
        <input name="password"  id="password" placeholder="Password"  type="password"class="input_field" onblur="Remove(this)" oninput="Border(this)" required>
        <div class="buttons">
        <button type="submit" class="submit" >Login</button>
        <button type="button" class="button" onclick="redirect()">Sign Up</button>
        </div>
    </form>
</div>
<div class="main_b">
    <img src="src/Login.svg" class="image_a">
    <img src="src/Login_b.svg" class="image_b">
</div>
</div>
<script src="js/Login.js"></script>
</body>
</html>
