<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="css/sign.css">
    <link rel="Icon" href="src/Logo1.png" sizes="64x64">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" integrity="sha512-HXXR0l2yMwHDrDyxJbrMD9eLvPe3z3qL3PPeozNTsiHJEENxx8DH2CxmV05iwG0dwoz5n4gQZQyYLUNt1Wdgfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="bookworm">
        <img src="src/Bookworm.jpg" class="Bookworm">
        <div class="eye_corner">
            <div class="eye" id="eye">
                <div class="pupil" id="pupil"></div>
            </div>
            <div class="eye" id="eye_b">
                <div class="pupil" id="pupil_b"></div>
            </div>
        </div>
        </div>  
    <div class="center">
    <div class="images">
        <img src="src/Update.svg" class="Update_img">
    </div>
    <form class="form" action="/signup" method="post">
        <h2>Sign Up Form</h2>
        <label for="username">Username: </label>
        <i class="ri-user-line icon"></i>
        <input name="username" class="input_field" id="username" onblur="Remove(this)" oninput="Border(this)" required>
        <label for="password">Password: </label>
        <i class="ri-key-line icon"></i>
        <input name="password" type="password" class="input_field" id="password" onblur="Remove(this)" oninput="Border(this)" required>
        <label for="email">Email: </label>
        <i class="ri-mail-line icon"></i>
        <input name="email" type="email" class="input_field" id="email" onblur="Remove(this)" oninput="Border(this)" required>
        <button class="buttons">Submit</button>
        </form>
    </div>
    <img src="src/sign.svg" class="signup-image">
    <img src="src/Sign_a.svg" class="sign_a">
    <img src="src/sign_b.svg" class="sign_b">
<script src="js/sign.js"></script>
</body>
</html>