<div class="header">
    <div class="header_a">
        <p><img class="Logo" src="src/Logo.png" height="50px" width="60px">EduCrafter</p>
    </div>
    <div class="header_b">
        <div id="add-button" class="header-item">
            <div id="plus-button">+</div>
            <div class="drop-down">
                <div onclick="addNote()">Notes</div>
                <div onclick="addDictionary()">Dictionary</div>
                <div onclick="addCalculator()">Calculator</div>
                <div onclick="addTimer()">Timer/Clock</div>
                <div onclick="addSnake()">Snake</div>
            </div>
        </div>
        <form>
            <button>Login</button>
        </form>
        <form>
            <button>Sign Up</button>
        </form>
        <form>
            <button>Logout</button>
        </form>
    </div>
</div>