<div class="header">
    <div class="header_a">
        <p><img class="Logo" src="src/Logo1.png" height="100px" width="70px">EduCrafter</p>
    </div>
    <div class="header_b">
        <div id="add-button" class="header-item">
            <div id="plus-button"><i class="ri-add-line"> Quick Add</i></div>
            <div class="drop-down">
                <div onclick="addNotes()"> <i class="ri-file-copy-2-line"></i> Notes</div>
                <div onclick="adddict()"> <i class="ri-book-line"></i> Dictionary</div>
                <div onclick="addCalculator()"> <i class="ri-calculator-line"></i> Calculator</div>
                <div onclick="addTimer()"><i class="ri-timer-line"></i>Watch</div>
                <div onclick="addweather()"><i class="ri-sun-cloudy-line"></i> Weather</div>
            </div>
        </div>
        <% if(!person){ %>
        <form action="/login" method="get">
            <button> <i class="ri-login-box-line"></i> Login</button>
        </form>
        <form action="/signup" method="get">
            <button><i class="ri-user-add-line"></i> Sign Up</button>
        </form>
        <% }else {%>
        <form action="/logout" method="get">
            <button><i class="ri-logout-box-r-line"></i> Logout</button>
        </form>
        <% } %>
    </div>
</div>