<div class="header">
    <div class="header_a">
        <p><img class="Logo" src="src/Logo.png" height="50px" width="60px">EduCrafter</p>
    </div>
    <div class="header_b">
        <div id="add-button" class="header-item">
            <div id="plus-button"><i class="ri-add-line"></i></div>
            <div class="drop-down">
                <div onclick="addNote()"> <i class="ri-file-copy-2-line"></i> Notes</div>
                <div onclick="addDictionary()"> <i class="ri-book-line"></i> Dictionary</div>
                <div onclick="addCalculator()"> <i class="ri-calculator-line"></i> Calculator</div>
                <div onclick="addClock()"><i class="ri-time-line"></i> Clock</div>
                <div onclick="addTimer()"><i class="ri-timer-line"></i> Timer</div>
            </div>
        </div>
        <form>
            <button> <i class="ri-login-box-line"></i> Login</button>
        </form>
        <form>
            <button><i class="ri-account-pin-box-line"></i> Sign Up</button>
        </form>
        <form>
            <button><i class="ri-logout-box-r-line"></i> Logout</button>
        </form>
    </div>
</div>