<div class="header">
    <div class="header_a">
        <p>Logo</p>
    </div>
    <div class="header_b">
        <form>
            <button>+</button>
        </form>
        <form>
            <button>Login</button>
        </form>
        <form>
            <button>Sign Up</button>
        </form>
        <form>
            <button>Logout</button>
        </form>
    </div>
</div>