<div class="header">
    <div class="header_a">
        <p><img class="Logo" src="src/Logo.png" height="50px" width="60px">EduCrafter</p>
    </div>
    <div class="header_b">
        <form>
            <button>+</button>
        </form>
        <form>
            <button>Login</button>
        </form>
        <form>
            <button>Sign Up</button>
        </form>
        <form>
            <button>Logout</button>
        </form>
    </div>
</div>