<div class="sidebar">
    <div class="part_a">
        <ul>
        <li><a href="" class="sidebar_menu"><i class="ri-contacts-line"></i></a></li>
        <li><a href="" class="sidebar_menu"><i class="ri-save-line"></i></a></li>
        <li><a href="" class="sidebar_menu"><i class="ri-questionnaire-line"></i></a></li>
        <li><a href="" class="sidebar_menu"><i class="ri-phone-line"></i></a></li>
        <li><a href="" class="sidebar_menu"><i class="ri-gamepad-line"></i></a></li>
        <li><a href="" class="sidebar_menu"><i class="ri-graduation-cap-line"></i></a></li>
        <li><a href="" class="sidebar_menu"><i class="ri-share-line"></i></a></li>
    </ul>
    <p class="sidebar_menu"></i></p>
    </div>
</div>