<div class="sidebar">
    <div class="part_a">
        <ul>
        <li class="sidebar_li"><a href="/Profile" class="sidebar_menu" data-title="Profile"><i class="ri-contacts-line small-screen-icon"></i></a></li>
        <li class="sidebar_li"><a href="/Note" class="sidebar_menu" data-title="Saved-Notes"><i class="ri-save-line small-screen-icon"></i></a></li>
        <li class="sidebar_li"><a href="/Quiz" class="sidebar_menu" data-title="Quiz"><i class="ri-questionnaire-line small-screen-icon"></i></a></li>
        <li class="sidebar_li"><a href="/Contact" class="sidebar_menu" data-title="Contact-Us"><i class="ri-phone-line small-screen-icon"></i></a></li>
        <li class="sidebar_li"><a href="/Games" class="sidebar_menu" data-title="Game"><i class="ri-gamepad-line small-screen-icon"></i></a></li>
        <li class="sidebar_li"><a href="/Quizshow" class="sidebar_menu" data-title="Saved-Quizs"><i class="ri-question-answer-line small-screen-icon"></i></a></li>
        <li class="sidebar_li"><a class="sidebar_menu Share" data-title="Share"><i class="ri-share-line small-screen-icon">
        </i></a></li>
    </ul>
    <p class="sidebar_menu"></i></p>
    </div>
</div>