<div class="sidebar">
    <div class="part_a">
        <ul>
        <li><a href="" class="sidebar_menu" data-title="Profile"><i class="ri-contacts-line"></i></a></li>
        <li><a href="" class="sidebar_menu" data-title="Saved-Notes"><i class="ri-save-line"></i></a></li>
        <li><a href="" class="sidebar_menu" data-title="Quiz"><i class="ri-questionnaire-line"></i></a></li>
        <li><a href="" class="sidebar_menu" data-title="Contact-Us"><i class="ri-phone-line"></i></a></li>
        <li><a href="" class="sidebar_menu" data-title="Game"><i class="ri-gamepad-line"></i></a></li>
        <li><a href="" class="sidebar_menu" data-title="Courses"><i class="ri-graduation-cap-line"></i></a></li>
        <li><a href="" class="sidebar_menu" data-title="Share"><i class="ri-share-line"></i></a></li>
    </ul>
    <p class="sidebar_menu"></i></p>
    </div>
</div>