<div class="sidebar">
    <div class="parts">
        <ul>
        <li><a href="" class="sidebar_menu">Profile</a></li>
        <li><a href="" class="sidebar_menu">Saved Notes</a></li>
        <li><a href="" class="sidebar_menu">Quiz</a></li>
        <li><a href="" class="sidebar_menu">Contact Us</a></li>
        <li><a href="" class="sidebar_menu">Snake Game</a></li>
        <li><a href="" class="sidebar_menu">Courses</a></li>
        <li><a href="" class="sidebar_menu">Share</a></li>
    </ul>
    </div>
    <div class="parts">
        <ul>
        <li><a href="" class="privacy">Privacy</a></li>
        <li><a href="" class="privacy">Terms and Conditions</a></li>
    </ul>
    </div>
</div>