<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="css/notes.css">
    <script src="js/notes.js"></script>
    <title>Notes</title>
</head>
<body>
    <div class="Main">
        <div class="Heading">
        <h1>Notes</h1>
        </div>
        <div class="title">
        <h3 class="subject">Subject :</h3>
        <p contenteditable="true">Hello</p>
        </div>
        <div class="description" id="content">
        <p contenteditable="true">Beffawlo</p>
        </div>
        <button onclick="bold()">Bold</button>
        <button onclick="italic()">Italic</button>
        <button onclick="regular()">Underline</button>
    </div>
</body>
</html>