<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="css/notes.css">
    <script src="js/notes.js"></script>
    <title>Notes</title>
</head>
<body>
    <div class="Main">
        <div class="title">
        <h3 class="subject">Subject-:</h3>
        <p contenteditable="true">Your Subject here...</p>
        </div>
        <hr>
        <div class="description">
        <p contenteditable="true" class="content">Your Content here....</p>
        <!-- //contenteditable is use to write -->
        </div>
        <button onclick="bold()">Bold</button>
        <button onclick="italic()">Italic</button>
        <button onclick="regular()">Regular</button>
    </div>
</body>
</html>