<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="css/notes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" integrity="sha512-HXXR0l2yMwHDrDyxJbrMD9eLvPe3z3qL3PPeozNTsiHJEENxx8DH2CxmV05iwG0dwoz5n4gQZQyYLUNt1Wdgfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="js/notes.js"></script>
    <title>Notes</title>
</head>
<body>
    <div class="Main">
        <div class="title">
        <h3 class="subject">Subject-:</h3>
        <p contenteditable="true" onkeydown="countword_subject(this, event)" class="Subject">Your Subject here...</p>
        </div>
        <hr>
        <div class="description">
        <p contenteditable="true" class="content" onkeydown="countword_description(this, event)">Your Content here....</p><p class="error">Word Limit Reached!!</p>
        <!-- //contenteditable is use to write -->
        </div>
        <div class="Format_buttons">
        <button onclick="bold()" class="Bold"><i class="ri-bold"></i> &nbsp; Bold</button>
        <button onclick="italic()" class="italic_text"><i class="ri-italic"></i> &nbsp; Italic</button>
    </div>
    </div>
        <button class="Save" onclick="saveNotes()"><i class="ri-save-line"> &nbsp;</i>Save</button>
</body>
</html>