
* {
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
}

body, html{
    margin:0px;
    width:100%;
    height:100%;
}

#calc-container{
    padding: 5px;
    width:100%;
    height:100%;
    background-color: black;
    display:grid;
    grid-gap: 0px;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 25% 15% 15% 15% 15% 15%;
}

#calc-container div {
    padding:5px;
    border: 5px solid black;
}

#input-container{
    border-radius: 10px;
    position: relative;
    background: rgb(25,28,35);
    grid-column: 1 / span 8;
    grid-row: 1;
    overflow: hidden;
}

#input-number {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 1.2rem;
}


#operation{
    margin-left: 1vh;
    font-size: 5vh;
    color: grey;
}

.button{
    display: flex;
    position: relative;
    width:100%;
    height: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button:active{
    transform: scale(0.9);
}
.button p {
    margin:0px;
    padding: 0px;
    font-size: 4.5vmin;
    color:white;
}

.Color1{
     background-color:rgb(100,100,150) 
    }
.Color1:hover{
     background-color:rgb(90,90,140) 
    }
.Color1:active{ 
    background-color:rgb(80,80,120)
 }

.Color2{ 
    background-color: rgb(218, 136, 21) 
}
.Color2:hover{
     background-color: rgb(245,130,0) 
    }
.Color2:active{
     background-color: #FFA500;
     }
p{
    margin: 0px;
    line-height: 100%;
    color: white;
    font-weight: bold;
}
.Color0{
    background-color:  #333333;
}
.Color0:hover{
    background-color:  #6C757D;
}
.Color0:active{
    background-color:  #6C757D;
}