html,body{
    background-color: transparent;
    width:200px;
    height:200px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    font-family: Roboto, sans-serif;
}

.tabs {
    overflow: hidden;
    border-radius: 5px;
    background-color: transparent;
}

.tabs button {
    background-color: transparent;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

.tabs button:hover {
    color: black;
    background-color: #e9ecf3;
}

.tabs button:active {
    background-color: #e9ecf3;
}

.tabs button.opened {
    background-color: #e9ecf3;
}

.tabContent {
    display: none;
    border-top: none;
}

h1 {
    color: white;
    font-family: Roboto, sans-serif;
    text-align: center;
}

#countDownTimerContainer {
    background-color: transparent;
    height: 185px;
    border-radius: 5px;
    padding: 20px 0px 20px 0px;
    text-align: center;
}

#cdt-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
input::placeholder{
    color:white;
}
.cdt-input {
    background-color: #7633e3;
    color:white;
    border: none;
    font-size: 22px;
    width: 30px;
    height:30px;
    margin: 10px;
    text-align: center;
}

.timer-cdt {
    justify-self: center;
    align-self: center;
    border: none;
    background-color: #ffffff00;
    font-size: 1 50px;
    width: 75px;
    height: 30px;
}

.semi {
    font-size: 20px;
}

.btn,.btn-swc {
   color: white;
  background-color: #222;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 15px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-align: center;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
}

.button:hover {
  background-color: #333;
}

.button svg {
  display: inline;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.75rem;
  color: white;
}

.btn:hover {
    background-color: #666666;
    cursor: pointer;
}

/* StopWatch */

.btn-swc:hover {
    background-color: #666666;
    cursor: pointer;
}

#stopWatchContainer {
    background-color: transparent;
    border-radius: 5px;
    height:145px;
    padding: 20px 0px 20px 0px;
    text-align: center;
}

#show-time {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 34px;
    margin: 15px;
}
