/*----------------------------------------------- importing text--------------------------------------------  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&display=swap');
/* --------------------------------------------------------------------------------------------------- */

/* --------------------------Basic Styling-------------------------------------------------------- */
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
/* --------------Main------------------ */
.Main{
    flex-wrap: wrap;
}
/* not want box to show on typing */
[contenteditable="true"]:focus {
    outline: none;
  }
body, html{
    margin:0px;
    position: relative;
    overflow: none;
}
button{
    margin-left: 0.6rem;
}
/* -------------------------title and description------------ */
.title,.description{
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}
.title p{
    font-weight: 600; 
    padding-top: 0.2rem;
    padding-left: 1rem;
    border: none;
    word-wrap: break-word;
    font-size: 0.8rem;
}
.subject{
    margin-right: 0.1rem;
}
.description p{
    font-size: 0.8rem;
    word-wrap: break-word;
}
/* ------------------------------------Bold-italic-regular-------------------- */
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.normal{
    font-weight: normal;
    font-style: normal;
}
/*  ----------hr-----------*/
hr{
    width: 90%;
    margin:0 auto;
}
/* ----button---------- */
button{
    font-size: 0.8rem;
}