* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body{
  overflow-y: scroll;
}
button,
input {
  outline: none;
  border: none;
}
a {
    text-decoration: none;
}
  
img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
      list-style: none;
}
.form{
    line-height: 43px;
    
}
.buttons:hover{
    background-color:  rgb(235, 70, 70);
   }
.Update_img{
 min-width:19rem;
  height: 21rem;
  /* position: absolute;
  top:-19px;
  left:0px;
  z-index: -9;
  opacity: 0.4; */

}
.bookworm {
    position: absolute;
    top:-5px;
    left: 43%;
    z-index: -3;
  }
  .Bookworm{
    width: 130px;
  }
  .eye_corner {
    width: 51px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -115px; 
    left: 28%; 
  }
  label{
    padding-left: 1rem;
    font-weight: 600;
  }
  .eye {
    width: 23px;
    height: 23px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  
  .pupil {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.activeBox{
    border-bottom:5px solid red !important;
    }
    .buttons{
        display: block;
        margin:  1rem;
        height: 40px;
        width: 100px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 5px;
        transition: all 0.3s ease;
        color: white;
        background: red;
        font-weight: 700;
      }
      .input_field {
        width: auto;
        height: 40px;
        padding: 0 0 0 40px;
        border-radius: 7px;
        outline: none;
        border: 1px solid #e5e5e5;
        filter: drop-shadow(0px 1px 0px #efefef)
          drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
        transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
      }
      Label{
        display: block;
        padding-left: 1rem;
        font-weight: 600;
      }
      .icon {
        width: 20px;
        position: relative;
        z-index: 99;
        left: 29px;
        bottom: 0px;
      }
      .Cautions{
        color:red;
        font-size: 0.6rem;
    }
    .Cautions span{
        font-weight: 700;
    }
    .center{
        gap:2.5rem;
        margin: 4rem;
        display: flex;
        backdrop-filter: blur(6.3px);
        -webkit-backdrop-filter: blur(16px) saturate(104%);
        background-color: rgba(255, 255, 255, 0.04);
        border-radius: 12px;
        border: 1px solid rgba(209, 213, 219, 0.3);
        max-width: 900px;
        position: absolute;
        flex-wrap: wrap;
        left:10%;
        top:10px;
        border:1px solid lightgrey;
        box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.9);
        padding:2rem;
        background-color: transparent;
    }
    .prev_detail{
        line-height: 2rem;
        padding-left: 15px;
    }
    .signup-image{
      max-width:36vmin;
        position:absolute;
        left:-20px;
        z-index: -4;
    }
    .sign_b{
        max-width:36vmin;
        position:absolute;
        left:85%;
        top:25%;
        z-index: -4;
    }
    .sign_a{
      max-width:36vmin;
        position: absolute;
        left:-20px;
        top:300px;
        z-index: -4;
    }
    ::-webkit-scrollbar {
      width: 11px;
    }
  
    ::-webkit-scrollbar-track {
      background: transparent;
    } 
    ::-webkit-scrollbar-thumb {
      background: #6F6AF8;
      border-radius: 5px;
    }
    @media (max-width:601px) {
        .center{
          left: 0;
        }
    }
    @media (max-width:525px) {
      .Update_img{
        min-width: 10rem;
        height: 10rem;
      }
      .form{
        line-height: 33px;
        font-size: 1rem;
      }
    }
    @media (max-width:480px) {
.icon{
  left:12px;
  bottom:-41px;
}
Label{
  margin-bottom: -2rem;
  margin-left: -1rem;
}
    }
    @media (max-width:389px) {
      .center{
        left:-2.1rem;
      }
    }