<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" href="css/dictionary.css">
        <script src="js/dictionary.js"></script>
        <title>Dictionary</title>
    </head>
    <body>
        <div id="main-container">
            <!-- onblur means on on leaving     oninput means while writing -->
            <input type="text" id="search" onblur="search()" oninput="search()" placeholder="Search">
            <h1 id = "word">--</h1>
            <p id = "phonetics">--</p>
            <div id = "definition-container">
            </div>
        </div>
    </body>
</html>
