<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="css/weather.css">
    <script src="js/weather.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" integrity="sha512-HXXR0l2yMwHDrDyxJbrMD9eLvPe3z3qL3PPeozNTsiHJEENxx8DH2CxmV05iwG0dwoz5n4gQZQyYLUNt1Wdgfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
<div class="main">
    <div class="image_holder">
        <img src="src/Cloud.svg" id="image">
        <h3 id="weather"></h3>
    </div>
    <div class="description">
        <div class="temp">
            <h2 id="celsius"></h2>
        </div>
        <div class="others">
        <h5 id="Humidity"></h5>
        <h5 id="max_min"></h5>
        <h5 id="min"></h5>
        <h5 id="city"></h5>
        <h5 id="wind"></h5>
    </div>
    </div>
</div>
<script>
    window.key = '<%= key %>';
</script>
</body>
</html>