<% layout('Layout/boilerplate.ejs') -%>
<body>
    <div class="main">
        <div class="left">
            <div class="images">
            <img src="src/illustration8.svg" class="Image_a">
             </div>
             <div class="Socail-icon">
                <div class="social"><a href="https://www.linkedin.com/in/sagar-kapoor1/" class="linkedin"><i class="ri-linkedin-fill"></i></a></div>
                <div class="social"><a class="twitter"><i class="ri-twitter-line"></i></a></div>
                <div class="social"><a class="Instagram"><i class="ri-instagram-line"></i></a></div>
                <div class="social"><a class="snapchat"><i class="ri-snapchat-line"></i></a></div>
             </div>
        </div>
        <div class="right">
        <h1>Get In <span class="Touch">Touch</span></h1>
        <P>Do You Want to Contact Us:-</P>
        <form method="post" action="/Contact">
            <input type="text" name="Username" id="Username" placeholder="Name">
            <input type="email" name="email" id="email" placeholder="Email">
            <textarea type="text" name="Message" id="Message" placeholder="Message">
            </textarea>
            <select id="Find-us" name="Find-us">
                <option value="" disabled selected hidden>How Do You Find Us?</option>
                <option value="Newspaper">Newspaper</option>
                <option value="Instagram">Instagram</option>
                <option value="Google-Ads">Google-Ads</option>
                <option value="Youtube">Youtube</option>
                <option value="Twitter">Twitter</option>
                <option value="Friends">Friends</option>
                <option value="University/School">University/School</option>
            </select>
        </form>
        <div class="Contact-info">
            <a href="mailto:sagarbadal70@gmail.com"><i class="ri-mail-line"></i> sagarbadal70@gmail.com</a>
            <a href=""><i class="ri-phone-line"></i> 90090090090</a> 
        </div>
        </div>
    </div>
</body>