<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>EduCrafter</title>
    <meta name="keywords" content="student portal, education, learning, courses, notes, school ">
    <meta name="author" content="Sagar Kapoor">
    <meta property="og:title" content="EduCrafter">
    <meta property="og:description" content="Empowering students through an interactive and comprehensive online learning platform - EduCrafter.">
    <meta property="og:image" content="https://th.bing.com/th/id/OIG..dm6pXU7ha9lx3RalVFt?pid=ImgGn">
    <meta name="twitter:title" content="EduCrafter">
    <meta name="twitter:description" content="Empowering students through an interactive and comprehensive online learning platform - EduCrafter.">
    <meta name="twitter:image" content="https://th.bing.com/th/id/OIG..dm6pXU7ha9lx3RalVFt?pid=ImgGng">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" integrity="sha512-HXXR0l2yMwHDrDyxJbrMD9eLvPe3z3qL3PPeozNTsiHJEENxx8DH2CxmV05iwG0dwoz5n4gQZQyYLUNt1Wdgfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="Icon" href="src/Logo1.png" sizes="64x64">
    <link rel="stylesheet" href="css/Quiz.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include("../includes/flash.ejs"); %>
        <%- include("../includes/header.ejs"); %>
        <%- include("../includes/sidebar.ejs"); %>
        <div class="share_things">
            <ul class="social_media">
                <li><button id="shareBtn"><img src="src/Twitter.svg" class="size"></button></li>
                <li><button id="shareBtn_t"><img src="src/Instagram.svg" class="size"></button></li>
                <li><button id="shareBtn_f"><img src="src/Facebook.svg" class="size"></button></li>
                <li><button id="shareBtn_w"><img src="src/Discord.svg" class="size"></button></li>
            </ul>
        </div>
    <div class="body" id="main-container">
        <%- body %>
    </div>
    <script src="js/dropmenu.js"></script>
    <script src="js/add.js"></script>
    <script src="js/drag.js"></script>
    <script src="js/Quiz1.js"></script>
    <script src="js/Quiz2.js"></script>
    <script src="js/Share.js"></script>
</body>
</html>