<% layout('Layout/boilerplate.ejs') -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Password.css">
    <title>Document</title>
</head>
<body>
    <div class="center">
        <div class="prev_detail">
    <h3>Current Name: <%- founduser.username %></h3>
    <h3>Current Email: <%- founduser.email %></h3>
    </div>
    <form class="form" method="post" action="/<%- founduser._id %>/Updated">
        <label for="Name" >New Name: </label>
        <i class="ri-user-line icon"></i>
        <input name="Name" id="Name" class="input_field" type="text" onblur="Remove(this)" oninput="Border(this)" required>
        <label for="email">New Email: </label>
        <i class="ri-mail-line icon"></i>
        <input id="email" name="email" class="input_field" type="email" onblur="Remove(this)" oninput="Border(this)" required>
        <button class="buttons">Submit</button>
    </form>
    <p class="Cautions"><span>**Note</span>:Fill with old details if not want to Update a specific Part</p>
</div>
<img src="src/Update.svg" class="Update_img">
    <script src="js/Password.js"></script>
</body>
</html>